body {
  margin: 30px 30px 0px 30px;
  width: auto;
  height:auto;
  font-family: 'Montserrat';
}

.icon1 {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

.icon2 {
  display: inline-block;
  width: 2em;
  height: 2em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

.icon3 {
  color: black;
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}
.icon4 {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}




.button1{
  display: inline-block;
  padding: 5px 6px;
  border: none;
  background-color: white;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  border-radius: 25px;
  cursor: pointer;
}

.button1:hover{
  background-color: #f7a71b;
  color: white;
}




.button2 {
  display: inline-block;
  border: none;
  letter-spacing: 1px;
  background-color: #f7a71b;
  color: white;
  border-radius: 25px;
  padding: 15px 15px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.button2:hover{
background-color: #f7a71b;
cursor: pointer;
}


.link {
  margin-left: 10px;
  color: #f7a71b;
  text-decoration: none;

}

.input-container {
  display: flex;
  width: 100%;
}

.input-container:hover{

}

/* Style the form icons */
.icon {
  border-bottom: 1px solid #EBECF0;
  padding: 10px 2px 10px 2px;
  background: none;
  color: black;
  min-width: 50px;
  text-align: center;
  margin-top: 10px;
}

/* Style the input fields */
.input-field {
  border: none;
  border-bottom: 1px solid #EBECF0;
  width: 100%;
  padding: 10px;
  outline: none;
  font-family: 'Montserrat';
  margin-top: 10px;
}

.input-field:focus {
}

.LastLine {
  margin-top: 100px;
  text-align: center;
  font-family: 'Montserrat';
}

.forgot {
  border: none;
  border-bottom: 1px solid #EBECF0;
  background: none;
  padding: 10px;
  color: #f7a71b;
  font-family: 'Montserrat';
  text-decoration: none;
}

.forgot:hover {
  cursor: pointer;
}
