body {
  padding: 50px 20px 0px 20px;
  margin: 0;
  width: auto;
  height: auto;
  font-family: 'Montserrat';
}

.backround-detail {
  content: "";
  transform: translate(50%, -50%);
  right: 0;
  top: 0;
  position: absolute;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background-color: #FCCC83;
  padding: 40px;
  border: 20px solid #F9B349;
  clip-path: polygon(0 50%, 50% 50%, 50% 100%, 0 100%);
}

a.back-link {
  position: relative;
  display: inline-block;
}

a.back-link:after {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.arrow-left {
  width: 2em;
  height: 2em;
  padding: 5px 6px;
  border: none;
  background-color: white;
}

/* Style the input fields */

.input-field {
  border: none;
  border-bottom: 1px solid #EBECF0;
  width: 100%;
  padding: 10px 5px;
  outline: none;
  font-family: 'Montserrat';
  margin-top: 10px;
}

.input-container {
  display: flex;
  width: 100%;
}

/* Style the form icons */

.icons-in-forms {
  width: 1rem;
  height: 1rem;
  margin-top: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #EBECF0;
}

.submit-button {
  left: 100%;
  transform: translate(-100%, 0);
  position: relative;
  display: flex;
  border: none;
  letter-spacing: 1px;
  background-image: linear-gradient(to right, #F6C759, #FDA03A);
  color: white;
  border-radius: 25px;
  padding: 15px 15px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.submit-button__text {
  margin-right: 0.5rem;
}

.submit-button__icon {
  display: inline-block;
  width: 1em;
  height: 1em;
}

.last-div {
  display: flex;
  height: 100px;
}

.last-div__text {
  margin: auto;
  position: relative;
  bottom: 0;
}

.last-div__link {
  margin-left: 10px;
  color: #f7a71b;
  text-decoration: none;
}